body{
    background: linear-gradient(bisque , aqua 80%);background: linear-gradient(bisque , aqua 80%); 
    height: 100vh;
    width: 100%;
}

h1 {
  margin-bottom: 15px;
}

#nuevaTarea {
  padding: 8px;
  font-size: 14px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

.tarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f4f4;
  padding: 10px;
  margin-top: 8px;
  border-radius: 5px;
}

.icono {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.no-realizada {
  color: orange;
}

.realizada {
  color: green;
}

.eliminar {
  color: red;
}
.centro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15PX;
}
.boton{
    display: inline-block;
    background-color: rgb(255, 213, 0);
    color: black;
    border: none;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 213, 0);
    font-family: monospace;
}
.boton:hover{
    background-color: rgb(236, 10, 10);
    color: black;  
}
h1{
    text-align: center;
    font-family: monospace;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    font-family: monospace;
}
.tarea{
    height: 30px;
    width: 300px;
    font-family: monospace;
    background-color: bisque;
    margin-left: 37%;
}
