body{
    background: linear-gradient( rgb(0, 140, 255) 50%, red );
    height: 100vh;
    width: 100%;

}
.enlace{
    color: white;
    font-family: monospace;
}
.titulo{
    color: white;
    font-family: monospace;
}