body{
    background: linear-gradient(bisque , aqua 80%);background: linear-gradient(bisque , aqua 80%); 
    height: 100vh;
    width: 100%;
}
#clickMe{
    background-color: green;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    margin: 5px;
}
#removeEvent{
    background-color: rgb(247, 1, 1);
    width: 80px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    margin: 5px;
}
.holaz{
    display: flex;
    background-color: rgb(237, 222, 105);
    width: 200px;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}
.centro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15PX;
}
.boton{
    display: inline-block;
    background-color: rgb(255, 213, 0);
    color: black;
    border: none;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 213, 0);
    font-family: monospace;
}
.boton:hover{
    background-color: rgb(236, 10, 10);
    color: black;  
}